# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/
*.env

# Streamlit cache
.streamlit/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db